# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc
*.pyo

# Database
*.db

# Logs
logs/
*.log

# Upload Storage
Storage/
TempChunks/
Files/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db